/* Anytime Fitness Website Template */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Basic Colors */
    --Black: #020101;
    --OffBlack: #2D2926;
    --White: #FFFFFF;
    --OffWhite: #E6E9EC;
    --DarkGray: #54595F;
    --LightGray: #7A7A7A;

    /* Accent Colors */
    --Violet: #6E38D5;
    --DarkPurple: #440099;
    --PinkPurple: #804c9e;
    --Purple: #4054B2;
    --LightPurple: #9b51e0;
    --DarkBlue: #221551;
    --Cyan: #2ED7DE;
    --LightGreen: #61CE70;
    --DarkGreen: #23A455;
}

body {
    font-family: "Roboto", sans-serif;
}

/* General */

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* Navbar Section */

.nav-bar {
    position: sticky;

    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--DarkBlue);

    padding: 0 1rem 0 1rem;
}

nav img {
    width: auto;
    height: 3.7rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--White);

    margin-right: 1.3rem;
    font-size: 0.7rem;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav button {
    font-weight: bold;
    border-color: transparent;
    background-color: var(--Violet);
    color: var(--White);

    font-size: 0.7rem;
    border-radius: 2rem;
    padding: 0.6rem;
}

/* Navbar Section */

/* Hero Section */

main {
    height: 50vh;
}

.hero-div-1 {
    float: left;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #440099 url(/Assets/line-blend-5-aqua.svg);

    width: 50%;
    height: 100%;
}

.hero-div-2 {
    background: var(--DarkPurple);

    height: 80%;
    width: 80%;
    padding: 2rem 0 1rem 2rem;
}

.hero-div-2 h1 {
    color: var(--White);

    line-height: 2.2rem;
    font-weight: 900;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    width: 80%;
}

.hero-div-2 span {
    color: var(--Cyan);

    font-weight: 900;
}

.hero-description {
    color: var(--White);

    font-size: 0.6rem;
    width: 65%;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.hero-div-2 button {
    background-color: var(--White);
    color: var(--Violet);
    border-color: transparent;
    
    font-weight: 800;
    font-size: 0.55rem;
    border-radius: 2rem;
    padding: 0.65rem;
    width: 7rem;
    margin-bottom: 1rem;
}

.terms-conditions {
    color: var(--LightPurple);

    font-size: 0.5rem;
}
.terms-conditions a {
    color: var(--LightPurple);

    font-size: 0.5rem;
}

main .hero-img {
    float: right;
    height: fit-content;
    background: url(/Assets/homepage-hero-afp-december-treadmill-1x.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 50%;
    height: 100%;
}

/* Hero Section */

/* Find Section */

.find-gym {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/Assets/Find-Your-Gym-module.png);
    background-repeat: no-repeat;
    background-size: contain;

    height: 50vh;
}

.find-gym .text-container h3 {
    color: var(--OffWhite);

    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.find-gym .text-container p {
    color: #00C7B1;

    font-size: 0.85rem;
    margin-bottom: 0.2rem;
}

.find-gym .text-container i {
    font-weight: 900;
}

.find-gym .search-bar {
    display: flex;

    margin-top: 1rem;
}

.search-bar i {
    background-color: #00C7B1;

    padding: 0.5rem;
}

.search-bar input {
    text-align: center;
    outline: none;

    font-size: 0.6rem;
    width: 19rem;
    height: 2rem;
}


/* Find Section */

/* Free Trial Section */

.free-trial {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
    gap: 2rem;
}

.free-trial .text-container {
    width: 22%;
}

.free-trial .text-container h1 {
    color: var(--OffBlack);

    font-weight: 900;
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.free-trial .text-container p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.free-trial .text-container button {
    background: #6E38D5;
    border-color: #6E38D5;
    color: white;

    border-radius: 2rem;
    font-weight: 900;
    font-size: 0.55rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.free-trial img { 
    width: auto;

    margin-bottom: 0.8rem;
    height: 20rem;
}

.free-trial .text-container p:last-child {
    color: #666666;

    font-size: 0.5rem;
}

.free-trial a {
    color: #666666;
}

.text-container img {
    width: auto;
    height: 1.4rem;
}

/* Free Trial Section */